

@media only screen and (min-width: 768px) {

    /* main divs */
    .first_tier_content{
        position: absolute;
        top: 210px;
        height: 600px;
    }

    img#fd{
        height: 200px;
        width: 1500px;
         /* use props below so that image quality will not be distorted */
        object-fit:cover;
        object-position:50% 50%;
    }

    .firstDivText{
        position: absolute;
        top: 70px;
        color: white;
        left:50px;
    }
    
    /* end of first tier */

    .second_tier_content{
        position: absolute;
        top: 440px;
        height: 700px;
        width: 1800px;
    }

    .first_text{
        position: absolute;
        top: 10px;
        left: 300px
    }

    .second_text{
        position: absolute;
        top: 50px;
        left: 300px;
    }

    .main_text{
        position: absolute;
        width: 500px;
        top: 100px;
        left: 300px;
    }

    .icon{
        position: absolute;
    }

    /* end of second tier */
    .third_tier_content{
        position: absolute;
        top: 700px;
        height: 700px;
    }
    
    .first_ttc{
        position: absolute;
        width: 400px;
    }

    .second_ttc{
        position: absolute;
        width: 400px;
    }

    img#sd{
        height: 400px;
        width: 400px;
         /* use props below so that image quality will not be distorted */
        object-fit:cover;
        object-position:50% 50%;
    }

    .img_ttc{
        position: absolute;
        left:10px;
    }


    /* end of third tier */
    .fourth_tier_content{
        position: absolute;
        top: 1200px;
        height: 700px;
    }
    
    .ft_heading{
        position: absolute;
        width: 400px;
    }

    .ft_main{
        position: absolute;
        width: 400px;
    }

    .ft_img{
        position: absolute;
        left: 300px;
    }

    img#fg{
        height: 300px;
        width: 300px;
         /* use props below so that image quality will not be distorted */
        object-fit:cover;
        object-position:50% 50%;
    }


    /* end of fourth tier */
    .fifth_tier_content{
        position: absolute;
        top: 1900px;
        height: 700px;
    }

    .fc_heading{
        position: absolute;
        width: 700px;
    }

    .fc_text{
        position: absolute;
        width: 400px;
    }

    .fc_img{
        position: absolute;
    }

    img#fv{
        height: 300px;
        width: 300px;
         /* use props below so that image quality will not be distorted */
        object-fit:cover;
        object-position:50% 50%;
    }


    /* end of fifth tier */
    .sixth_tier_content{
        position: absolute;
        top: 2300px;
        height: 700px;
    }

    .sc_heading{
        position: absolute; 
        width: 400px; 
    }
    
    .sc_main{
        position: absolute;  
        width: 400px;
    }
    
    .sc_img{
        position: absolute;  
    }
    
    img#qn{
        height: 300px;
        width: 300px;
         /* use props below so that image quality will not be distorted */
        object-fit:cover;
        object-position:50% 50%;
    }

    /* end of sixth tier */
    .svc{
        position: absolute;
        top: 2500px;
        
    }



}


@media only screen and (max-width: 1600px) {
    .first_tier_content{
        position: absolute;
        top: 210px;
        height: 600px;
    }

    a{
        margin-left: 70px;
        text-decoration: none;
        color: #ffffff;
        font-weight: bold;
        cursor: pointer;
      }

        /*login button*/
    #login-button {
        position: absolute;
        top: 115px;
        left: 1350px;
        ; /* Green */
        border: 1px solid white;
        background-color: #000024;
        color: white;
        
        padding: 10px 15px;
        text-align: center;
        display: grid;
        font-size: 16px;
        font-weight: normal;
        border-radius: 8px;
      }

    img#fd{
        height: 200px;
        width: 1600px;
         /* use props below so that image quality will not be distorted */
        object-fit:cover;
        object-position:50% 50%;
    }

     /* end of first tier */
 
    img#sd{
        height: 400px;
        width: 600px;
         /* use props below so that image quality will not be distorted */
        object-fit:cover;
        object-position:50% 50%;
    }

    .first_ttc{
        position: absolute;
        width: 400px;
        left: 30px;
    }

    .second_ttc{
        top: 100px;
        position: absolute;
        width: 700px;
        left: 30px;
    }

    .img_ttc{
        position: absolute;
        left: 800px;  
    }

/* end of third tier */ 















}