

@media only screen and (min-width: 768px) {

    /* main divs */
    .first_tier_content{
        position: absolute;
        top: 210px;
        height: 600px;
    }

    img#fd{
        height: 200px;
        width: 1500px;
         /* use props below so that image quality will not be distorted */
        object-fit:cover;
        object-position:50% 50%;
    }

    .firstDivText{
        position: absolute;
        top: 70px;
        color: white;
        left:50px;
    }
    
    /* end of first tier */

    .stx{
        position: absolute;
        top: 440px;
        width: 1500px;
        right: 400px;
    }

    .fext{
        position: absolute;
        left: 700px
    }

    .dext{
        position: absolute;
        top: 30px;
        left: 700px;
    }

    .mext{
        position: absolute;
        width: 500px;
        top: 100px;
        left: 700px;
    }

    .icon{
        position: absolute;
    }

    /* end of second tier */
    .thx{
        position: absolute;
        top: 730px;
        height: 700px;
        left: 240px;
    }
    
    .rst{
        position: absolute;
        width: 400px;
        left: 100px;
    }

    .sttc{
        position: absolute;
        width: 500px;
        left: 100px;
        top: 100px;
        text-align: justify;
    }

    #xfd{
        height: 400px;
        width: 490px;
         /* use props below so that image quality will not be distorted */
        object-fit:cover;
        object-position:50% 50%;
    }

    .imc{
        position: absolute;
        left: 630px;
        top: 90px;
    }


    /* end of third tier */
    .ftc{
        position: absolute;
        top: 1400px;
        height: 700px;
        left: 150px;
    }
    
    .fng{
        position: absolute;
        width: 400px;
        left: 200px;
    }

    .fmg{
        top: 50px;
        position: absolute;
        width: 500px;
        left: 200px;
        text-align: justify;
    }

    .ftg{
        position: absolute;
        left: 800px;
    }

    #xfg{
        height: 300px;
        width: 300px;
         /* use props below so that image quality will not be distorted */
        object-fit:cover;
        object-position:50% 50%;
    }


    /* end of fourth tier */
    .ftq{
        position: absolute;
        top: 1800px;
        height: 700px;
        right: 1450px;
    }

    .fch{
        position: absolute;
        width: 700px;
        left: 820px;
        top: 30px;
    }

    .fcxt{
        position: absolute;
        width: 500px;
        left: 820px;
        top: 70px;
        text-align: justify;
    }

    .fimg{
        position: absolute;
        left: 240px;
        top: 20px;
    }

    #fvx{
        height: 500px;
        width: 550px;
         /* use props below so that image quality will not be distorted */
        object-fit:cover;
        object-position:50% 50%;
    }


    /* end of fifth tier */
    .stq{
        position: absolute;
        top: 2400px;
        height: 700px;
        left: 200px;
    }

    .sgg{
        position: absolute; 
        width: 400px; 
        left: 150px;
    }
    
    .smain{
        position: absolute;  
        width: 500px;
        top: 100px;
        left: 150px;
        text-align: justify;
    }
    
    .sig{
        position: absolute; 
        left: 670px; 
    }
    
    #qnp{
        height: 300px;
        width: 500px;
         /* use props below so that image quality will not be distorted */
        object-fit:cover;
        object-position:50% 50%;
    }

    /* end of sixth tier */
    .svc{
        position: absolute;
        top: 2500px;
        
    }



}


@media only screen and (max-width: 1600px) {
    .first_tier_content{
        position: absolute;
        top: 210px;
        height: 600px;
    }


        /*login button*/
    #login-button {
        position: absolute;
        top: 115px;
        left: 1350px;
        ; /* Green */
        border: 1px solid white;
        background-color: #000024;
        color: white;
        
        padding: 10px 15px;
        text-align: center;
        display: grid;
        font-size: 16px;
        font-weight: normal;
        border-radius: 8px;
      }

    img#fd{
        height: 200px;
        width: 1600px;
         /* use props below so that image quality will not be distorted */
        object-fit:cover;
        object-position:50% 50%;
    }

     /* end of first tier */
 
    img#sd{
        height: 400px;
        width: 600px;
         /* use props below so that image quality will not be distorted */
        object-fit:cover;
        object-position:50% 50%;
    }

    .first_ttc{
        position: absolute;
        width: 400px;
        left: 200px;
    }

    .second_ttc{
        top: 100px;
        position: absolute;
        width: 500px;
        left: 200px;
        text-align: justify;
        line-height: 150%;
    }
   
    .img_ttc{
        position: absolute;
        left: 800px;
        top: 70px;  
    }

    .first_text{
        position: absolute;
        top: 10px;
        left: 550px
    }

    .second_text{
        position: absolute;
        top: 50px;
        left: 500px;
    }

    .main_text{
        position: absolute;
        width: 700px;
        top: 150px;
        left: 400px;
        line-height: 150%;
    }

   

/* end of second tier */ 


.third_tier_content{
    position: absolute;
    top: 800px;
    height: 700px;
}

/*end of third tier*/

.fourth_tier_content{
    position: absolute;
    top: 1290px;
    height: 700px;
}

.ft_heading{
    position: absolute;
    width: 400px;
    left: 800px;
}

.ft_main{
    position: absolute;
    width: 500px;
    top: 50px;
    left: 800px;
    text-align: justify;
    line-height: 150%;
}

.ft_img{
    position: absolute;
    left: 250px;
}

img#fg{
    height: 400px;
    width: 400px;
     /* use props below so that image quality will not be distorted */
    object-fit:cover;
    object-position:50% 50%;
}

/*end of fourth tier*/

.fifth_tier_content{
    position: absolute;
    top: 1700px;
    height: 700px;
}

.fc_heading{
    position: absolute;
    width: 700px;
    left: 200px;
    top: 50px;
    
}

.fc_text{
    position: absolute;
    width: 500px;
    left: 200px;
    top: 100px;
    text-align: justify;
    line-height: 150%;
}

.fc_img{
    position: absolute;
    left: 800px;
    top: 50px;
}

img#fv{
    height: 400px;
    width: 500px;
     /* use props below so that image quality will not be distorted */
    object-fit:cover;
    object-position:50% 50%;
}

.sixth_tier_content{
    position: absolute;
    top: 2300px;
    height: 700px;
}

.sc_heading{
    position: absolute; 
    width: 400px; 
    left: 800px;
}

.sc_main{
    position: absolute;  
    width: 400px;
    left: 800px;
    top: 100px;
    text-align: justify;
    line-height: 150%;
}

.sc_img{
    position: absolute;  
    left: 200px;
}

img#qn{
    height: 400px;
    width: 500px;
     /* use props below so that image quality will not be distorted */
    object-fit:cover;
    object-position:50% 50%;
}

 /* end of sixth tier */
 .svc{
    position: absolute;
    top: 2800px;
    left: 700px;
    
}


















}