
#ftx{
    padding: 5%;
    background-color: beige;
}


#fta{
    font-weight: 1000;
    
}

#ftb{
    font-weight: 1000;
}

#ftd{
    margin-top: 5%;
}
#ftg{
    margin-top: 5%;
    text-align: center;
}


#npq{
    left: 7%;
}

