#hep{
    height: 12%;
    background-color: gray;
    color: #777;
}
#hel{
    margin-top: 10%;
    margin-left: 15%;
}
#het{
    border-left: 5px solid white;
}
#lox{
    margin-top: 2%;
    color: #777;
}
#tex{
    margin-left: 20%;
    margin-top: 5%;
}

#lex{
    margin-left: 20%;
    margin-top: 5%;
}

#dex{
    margin-left: 20%;
    margin-top: 17%;
}

#fox{
    margin-top: 2%;
}