@media only screen and (max-width: 1600px) {
    .first_tier_content{
        position: absolute;
        top: 210px;
        height: 600px;
    }

    .firstDivText{
        position: absolute;
        top: 70px;
        color: white;
        left:50px;
    }

   

    .fuyt{
        position: absolute;
        padding: 2%;
        top: 40%;
    }

    

    .mx-0{
        top: 40%; 
    }

    /* end of first tier */

    .stc{
        position: absolute;
        top: 440px;
        height: 700px;
    }

    
    .fm{
        position:absolute;
        top: 470px;
        left: 500px;
    }


     /* end of second tier */
     .formclass{
        left: 500px;
    }

    #fnam{
        width: 400px;
    }
    
    .lb{
        position: absolute;
        top: 550px; 
        left: 340px;
    }
    .tb{
        position: absolute;
        top: 500px; 
        
    }

    .cb{
        position: absolute;
        top: 550px; 
        left: 800px;
    }
    .db{
        position: absolute;
        top: 580px; 
        left: 800px;
        
    }

    #fdb{
        width: 400px; 
    }



    .sb{
        position: absolute;
        top: 670px; 
        left: 335px;
    }
    .vb{
        position: absolute;
        top: 690px; 
        left: 330px;
        
    }

    #sdb{
        width: 880px; 
    }


    .mb{
        position: absolute;
        top: 770px; 
        left: 335px;
    }
    .xb{
        position: absolute;
        top: 790px; 
        left: 330px;
        
    }

    #mdb{
        width: 880px; 
        height: 400px;
    }


    .btz{
        position: absolute;
        top: 1300px;
        left: 350px;
    }

   .btx{
    border: 1px solid white;
    background-color: #000024;
    color: white;
    
    padding: 10px 15px;
    text-align: center;
    display: grid;
    font-size: 16px;
    font-weight: normal;
    border-radius: 8px;
    width: 200px;
   }

   #ast{
       text-align: center;
       margin-top: 2px;
   }

   .dont{
       padding-left: 5%;
       padding-right: 8%;
   }






}