@media only screen and (max-width: 1600px) {
    h1{
        color: brown;
    }

    .dd{
        
        background-color: #151E3D;
        height: 40px;
        width: 600px;
        cursor: pointer;
        border-radius: 5px;
    }

    
}


