@media only screen and (max-width: 1600px) {
    h1{
        color: brown;
    }


    .qr{
        
        height: 400px;
        width: 600px;
    }

    .dd{
        
        background-color: #F0F0F0;
        height: 40px;
        width: 600px;
        cursor: pointer;
        border-radius: 5px;
    }

    .texxt{
        display: block;
        position: absolute;
        top: 30px;
        width: 400px;
    }
    
    
}


