@media only screen and (max-width: 1600px) {
    .second_tier_content{
        position: absolute;
        top: 530px;
        left: 180px;
        
    }

    .accountquestions{
        position: absolute;
        top: 940px;
        left: 180px;
    }

    .investmentquestions{
        position: absolute;
        top: 1450px;
        left: 180px;
    }

    .withdrawalquestions{
        position: absolute;
        top: 2200px;
        left: 180px;
    }

    .affiliatequestions{
        position: absolute;
        top: 2700px;
        left: 180px;
    }



    .ffqtc{
        position: absolute;
    }

    .board{
        position: absolute;
        top: 530px;
        left: 980px;
        
    }

    
}


