@media only screen and (max-width: 1600px) {
    .second_tier_content{
        position: absolute;
        top: 530px;
        left: 280px;
        
    }

    .accountquestions{
        position: absolute;
        top: 740px;
        left: 280px;
    }

    .investmentquestions{
        position: absolute;
        top: 950px;
        left: 280px;
    }

    .withdrawalquestions{
        position: absolute;
        top: 1150px;
        left: 280px;
    }



    
}


