#fax{
    height: 5%;
    background-color: #78807A;
    color: white;
}

#faxd{
    margin-top: 5%;
    margin-left: 12%;
}

#faxe{
    height: 2%;
    background-color: greenyellow;
    color: white;
}

#faxee{
    margin-top: 2%;
    margin-left: 12%;
}

#raq{
    margin-top: 2%;
    color: #777;
}

#rex{
    
    background-color:limegreen;
    text-align: center;
    color: green;
    border-radius: 2%;
}

#tdr{
    margin-left: 5%;
}

#dfg{
    margin-top: 5%;
}