#ftxx{
    height: 5%;
    background-color: beige;
    color: #777;
}

#yta{
    
}

#fda{
    padding-left: 10%;
    padding-right: 10%;
    text-align: justify;
}

#ftd{
    
}

#mpm{
    margin-top: 100px;
}

#hdx{
    margin-top: 5%;
    margin-left: 10%;
}

#xct{
    padding-left: 5%;
    padding-right: 5%;
}

#fcd{
    border-bottom:2px solid red;
}

#yjk{
    margin-left: 25%;
    
}