
#rftc{
    height: 3%;
    background-color: aquamarine;
}
#btr0{
    margin-top: 2%;
    margin-left: 9%;
}
#btr1{
    margin-left: 9%;
    margin-top: 2%;
}
#rftd{
    margin-top: 4%;
    margin-left: 9%;
}

#rfte{
    padding-left: 10%;
    padding-right: 10%;
    
}
#rftf{
    margin-top: 4%;
    
}