
#rftc{
    height: 3%;
    background-color: aquamarine;
}
#btr0{
    margin-top: 2%;
    margin-left: 9%;
}
#btr1{
    margin-left: 9%;
    margin-top: 2%;
}
#rftd{
    margin-top: 4%;
    margin-left: 9%;
}

#rfte{
    padding-left: 10%;
    padding-right: 10%;
    color: #777;
    text-align: justify;
}
#rftf{
    margin-top: 4%;
    
}

#rftg{
    
    padding-left: 2%;
    padding-right: 2%;
}

#btr4{
    margin-left: 2%;
}

#lrow{
    height: 200px;
    background-color: aliceblue;
    padding-left: 2%;
    padding-right: 2%;
    margin-top: 2%;
    
    width: 80%;
    border-radius: 5px;
    border-style: solid;
    border-color: burlywood;
    border-width: 6px;
    color: #777;
}
#mgx{
    margin-top: 2%;  
}