
#ftx{
    height: 5%;
    background-color: beige;
}

#fmain{
    margin-top: 2%;
}

#fta{
    font-weight: 1000;
}
#ftb{
    font-weight: 1000;
}
#ftc{
    font-weight: 1000;
}
#ftd{
    margin-top: 5%;
}
#ftg{
    margin-top: 5%;
    text-align: center;
}





img#fd{
    height: 200px;
    width: 1600px;
     /* use props below so that image quality will not be distorted */
    object-fit:cover;
    object-position:50% 50%;
}

 /* end of first tier */

img#sd{
    height: 400px;
    width: 600px;
     /* use props below so that image quality will not be distorted */
    object-fit:cover;
    object-position:50% 50%;
}