@media only screen and (max-width: 1600px) {
    h1{
        color: brown;
    }


    .qr{
        
        height: 400px;
        width: 600px;
    }

    .dd{
        margin-bottom: 5px;
        background-color: #F0F0F0;
        height: 40px;
        width: 600px;
        cursor: pointer;
        border-radius: 5px;
    }

    .dap{
        margin-bottom: 5px;
        background-color: #F0F0F0;
        height: 40px;
        width: 600px;
        cursor: pointer;
        border-radius: 5px;
    }

   .texxt{
    background-color: white;
    
    padding: 0 20px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.4s ease-in-out;
   }

   .nexxt{
    background-color: white;
    
    padding: 0 20px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.4s ease-in-out;
   }

  
   #pxc:hover{
    background-color: white;
    padding: 0px;
    text-decoration: underline;
    cursor: pointer;
    color: black;
    border-radius: 0px;
   }

   
    
    
}


