
.App {
  text-align: center;
}

/*overall div holding body*/
.main{
  height: 4000px;
  font-family: "Open Sans", Arial, sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
* {
  box-sizing: border-box;
}

td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 5px;
  width: 100px;
}


table{
  width: 100%;
  
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
.cr {

  padding: 5%;
  margin-top: 25px;
}



#register-button{
  
  top: 700px;
  left: 40%;
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 8px;
}

#register-button:hover{
  background-color: #003153;
  color: white;
}



[class*="col-"] {
  float: left;
  padding: 15px;
}

html {
  font-family: "Lucida Sans", sans-serif;
}




#login-button:hover{
  background-color: #003153;
  color: white;
}

h3 {
  text-align: left;
  
}


.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li {
  padding: 8px;
  margin-bottom: 7px;
  background-color: #33b5e5;
  color: #ffffff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.menu li:hover {
  background-color: #0099cc;
}

.aside {
  background-color: #33b5e5;
  padding: 15px;
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}



/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

/* For simulating mobike phone on computer screen >100px*/
@media only screen and (min-width: 100px) {
  #tbr {left: 29%}
  
  #register-button{left: 25%}
 
  
  #register-button {left: 30%;}
  #register-button {position: absolute}
  #register-button {top: 70%;}

  
}


/* For tablets: */
@media only screen and (min-width: 600px) {
  
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
  #register-button {left: 40%;}
  
  #register-button {top: 65%;}
  
  
  

  #first-text{
    position: absolute;
    top: 60%;
    left: 70%; 
  }

 
  
}



/* laptop and desktop screen */
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}

  

  
   /* div for both texts*/
  
 



  /*xxxxxxxxxxxxxxxxxxxxxxx*/
  /*xxxxxxxxxxxxxxxxxxxxxxx*/

  /*beginning of header*/

.header {
  /*contains logo and login*/
  background-color: #000024;
  color: #ffffff;
  padding-left: 30px;
  height: 200px;
  width: 1800px;
}

   /*logo image*/
  #lg{
    display: absolute;
    height: 50px;
    width: 100px;
    margin-top: 92px;
    margin-right: 60px;
   } 

  
   /*nav*/
   nav{
    display: absolute;
     margin-bottom: 200px;
     right: 700px;
   }

   a{
     margin-left: 50px;
     text-decoration: none;
     color: #ffffff;
     font-weight: bold;
     cursor: pointer;
   }

   a:hover{
    background-color: #003153;
    color: white;
    padding: 10px 15px;
    text-align: center;
    border: none;
    border-radius: 8px;
  }
    /*login button*/
    #login-button {
      position: absolute;
      top: 115px;
      left: 1200px;
      ; /* Green */
      border: 1px solid white;
      background-color: #000024;
      color: white;
      
      padding: 10px 15px;
      text-align: center;
      display: grid;
      font-size: 16px;
      font-weight: normal;
      border-radius: 8px;
    }

    .tb{
      padding: 5%;
      position:absolute;
      top: 200px;
      left: 260px;
    }

      /*coin weight*/
   #ft{
    font-weight: bold;
  }


    /*end of header*/

/*xxxxxxxxxxxxxxxxxxxxxxx*/
/*xxxxxxxxxxxxxxxxxxxxxxx*/


  /*mid div*/
  .mid_div{
    position: absolute;
    top: 1300px;
    border-top: #000024;
    height: 1000px;
    
  }
      /*mid div that contains bg image*/
      .mid_bg_img{
        position: absolute;
        top: 500px;
        height: 600px;
        width: 1800px;
      }
  
      .capture_write_up{
        position: absolute;
        top: 160px;
        color: white;
        padding:30px ;
        width: 400px;
        left: 160px;
      }
  
      /*unsplash image for resizing*/
      #up{
        height: 600px;
        width: 1800px;
      }



      /*register button*/
      #register-button {left: 200px;}
      #register-button {top: 980px;}
      #register-button {font-weight: bold;}

  .first_ad{
    position: absolute;
    font-weight: 700;
    font-family: cursive, sans-serif;
    width: 300px;
    left: 100px;
    top: 70px;
  }

  .second_ad{
    position: absolute;
    width: 300px;
    left: 600px;

    font-family: "Open Sans", Arial, sans-serif;
  }

  .third_ad{
    position: absolute;
    width: 300px;
    left: 600px;
    top: 180px;
  }

  .fourth_ad{
    position: absolute;
    width: 300px;
    left: 600px;
    top: 350px;
  }

  .fifth_ad{
    position: absolute;
    width: 200px;
    left: 1100px;
    top: 20px;
  }

  .sixth_ad{
    position: absolute;
    width: 200px;
    left: 1100px;
    top: 180px;
  }

/*end of mid div*/

/*xxxxxxxxxxxxxxxxxxxxxxx*/

/*beginning of second mid div*/
.mid_div_two{
  position: absolute;
  top: 1900px;
  background-color: #E1E8ED;
  height: 600px;
  width: 1800px;
}

.security_reliability{
  position: absolute;
  left: 100px;
  width: 700px;
  font-family: cursive;
  top: 20px;
}

.laptop_image{
  position: absolute;
  left: 800px;
  width: 600px;
  top: 10px;
  
}

/*end of second mid div*/
/***********************/
/*beginning of third mid div*/
.mid_div_three{
  position: absolute;
  top: 2500px;
  height: 500px;
  width: 1500px;
}
/*for desktop screensize, width = 1800px,*/
.features_writeup{
  position: absolute;
  font-weight: bold;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #1C304A;
  color: #ffffff;
  top: 20px;
  border-radius: 5px;
  left: 500px;
  width: 300px;
  text-align: center;
}
/*for desktop screensize, width = 400px, left = 600px*/
.model_portfolio{
  position: absolute;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  left: 50px;
  width: 300px;
  top:100px;
}

.stock_analysis{
  position: absolute;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  left: 500px;
  width: 300px;
  top:100px;
}

.access_to_expert{
  position: absolute;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  left: 900px;
  width: 400px;
  top:90px;
}

/*end of third mid div*/

/***********************/
/*beginning of map div*/
.map_div{
  position: absolute;
  top: 2900px;
}

.map{
  position: absolute;
  padding-left: 200px;
  padding-right: 200px;
}
/*for desktop screensize, padding 300px*/

#map_image{
  height: 400px;
  width: 1000px;
  
}

.company_success{
  position: absolute;
  text-transform: uppercase;
  font-weight: 1500;
  left: 500px;
  width: 600px;
  color: #023E8A;
}
/*for desktop screensize, left 500px*/
.fun_facts{
  position: absolute;
  top: 100px;
  left: 450px;
  width: 500px;
}
/*for desktop screensize, left 500px, width 700px*/

.years_of_excellence{
  position: absolute; 
  top: 150px;
  left: 200px;
  
}
/*for desktop screensize, left 400px,*/
.sub_years{
  position: absolute; 
  top: 200px;
  left: 140px;
  
  width: 300px;
}
/*for desktop screensize, left 330px, width 700px*/

.client_satisfaction{
  position: absolute;
  top: 170px;
  left: 450px;
}

.sub_client{
  position: absolute;
  top: 215px;
  width: 300px;
  left: 400px;
}


.active_clients{
  position: absolute;
  top: 170px;
  left: 700px;
}

.sub_active{
  position: absolute;
  top: 215px;
  width: 400px;
  left: 670px;
}

.payouts{
  position: absolute;
  top: 170px;
  left: 910px;
}

.sub_payouts{
  position: absolute;
  top: 215px;
  width: 400px;
  left: 900px;
}

/*footer div*/
.main_footer{
  
  overflow:visible; 
  
}
.mid_footer{
  top: 70%;
  width: 100%;
  height: 200px;
  background-color: #003153;
  position: fixed;

}

.first_box{
  position: absolute;
  color: #ffffff;
  left: 20px;
  
}

/*customizations for ul and li*/
ul#footer{
  list-style-type: none;
}

li#margin{
  margin-bottom: 20px;
  font-weight: bold;
}

.sec_box{
  position: absolute;
  color: #ffffff;
  left: 200px;
}

.third_box{
  position: absolute;
  color: #ffffff;
  left: 450px;
}

.fourth_box{
  position: absolute;
  color: #ffffff;
  left: 750px;
}

.fifth_box{
  position: absolute;
  color: #ffffff;
  left: 1000px;
  width: 300px;
}

.sixth_box{
  position: absolute;
  color: #ffffff;
}



.footer {
  background-color: #000024;
  color: #ffffff;
  text-align: center;
  font-size: 12px;
  padding: 15px;
  position: fixed;
  width: 100%;
  height: 50px;
  top: 93%;
}






}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
